.collection-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	box-sizing: border-box;
	padding:0px 12px;
	/*height: calc(100vh - 10px);*/
}
.macbook-air{
	padding: 0px;
	background-color: #000;
	width: 100%;
	height: 580px;
	background-image: url('https://www.apple.com/v/home/q/images/heroes/macbook-air/macbook_air__knzp0i282eyy_large.jpg');
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}
.macbook-air .module-content{
	padding: 0px;
}
.macbook-air .module-content .unit-copy-wrapper .headline{
	font-size: 40px;
}
.macbook-air .module-content .unit-copy-wrapper .subhead{
	font-size: 21px;
}
.macbook-air .module-content .unit-copy-wrapper .cta-link a{
	font-size: 17px;
}
.macbook-pro{
	width: 100%;
	height: 580px;
	background-image: url('https://www.apple.com/v/home/q/images/heroes/macbook-pro-13/macbook_pro_13__koscrc0x6wam_large.jpg');
	background-size: initial;
	background-position: center;
	background-repeat: no-repeat;
}
.macbook-pro .module-content{
	margin: 30px;
	padding: 0px;
}
.macbook-pro .module-content .unit-copy-wrapper p{
	font-size: 17px;
}
.macbook-pro .module-content .unit-copy-wrapper .headline{
	font-size:40px;
}
.macbook-pro .module-content .unit-copy-wrapper .subhead{
	font-size: 21px;
}
.macbook-pro .module-content .unit-copy-wrapper .cta-link a{
	font-size: 17px;
}
.airpods-max{
	width: 100%;
	height: 580px;
	background-image: url('https://www.apple.com/v/home/r/images/promos/airpods-max/tile_airpods_max__1fye83e0lle6_large.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.airpods-max .module-content{
	padding: 0px;
}
.airpods-max .module-content .unit-copy-wrapper .headline{
	font-size: 40px;
	color: #1d1d1f;
}
.airpods-max .module-content .unit-copy-wrapper .subhead{
	font-size: 21px;
	color: #1d1d1f;
}
.airpods-max .module-content .unit-copy-wrapper .cta-link a{
	font-size: 17px;
}
.apple-one{
	background-color: #FBFBFD;
	background-image: url('https://www.apple.com/vn/home/images/promos/apple-one/tile__cauwwcyyn9hy_large.jpg');
	width: 100%;
	height: 580px;
	background-size: inherit;
	background-position: bottom;
	background-repeat: no-repeat;
}
.apple-one .module-content{
	padding: 0px;
}
.apple-one .module-content .unit-copy-wrapper .headline{
	background-image: url('https://www.apple.com/v/home/r/images/logos/apple-one/logo__dcojfwkzna2q_large.png');
	background-size: 130px 33px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.apple-one .module-content .unit-copy-wrapper .headline span{
	visibility: hidden;
}
.apple-one .module-content .unit-copy-wrapper .subhead{
	color: #000;
	font-size: 21px;
}
.apple-one .module-content .unit-copy-wrapper .cta-link a{
	font-size: 17px;
}
.apple-one .module-content .unit-copy-wrapper .cta-link a i{
	font-size: 17px;
}
.arcade{
	background-color: #1CC7FB;
	background-image: url('https://www.apple.com/v/home/r/images/promos/arcade-harmony/tile__cauwwcyyn9hy_large.jpg');
	width: 100%;
	height: 580px;
	background-size: inherit;
	background-position: bottom;
	background-repeat: no-repeat;
}
.visuallyhidden{
	visibility: hidden;
}
.arcade .module-content{
	margin: 0px;
}
.arcade .module-content .unit-copy-wrapper .headline{
	font-size: 50px;
	background-image: url('https://www.apple.com/v/home/r/images/logos/arcade/logo_light__cfvl40z2nzau_large.png');
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.arcade .module-content .unit-copy-wrapper .subhead{
	font-size: 21px;
	text-align: center;
	color: #FFF;
}
.arcade .module-content .unit-copy-wrapper .cta-link a{
	color: #FFF;
	font-size: 17px;
}
.arcade .module-content .unit-copy-wrapper .cta-link a i{
	font-size: 17px;
}
.arcade .module-content .unit-copy-wrapper .cta-link a sup{
	font-size: 10.2px;
}
.tv-plus .module-content .unit-copy-wrapper .headline{
	font-size: 30px;
	background-image: url('https://www.apple.com/v/home/r/images/logos/tv-plus-device-offer/logo__dcojfwkzna2q_large.png');
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.tv-plus{
	background-color: #1CC7FB;
	background-image: url('https://www.apple.com/vn/home/images/promos/tv-plus-free-shows-dec20/tile__cauwwcyyn9hy_xlarge.jpg');
	width: 100%;
	height: 580px;
	background-size: inherit;
	background-position: bottom;
	background-repeat: no-repeat;
}
.tv-plus .module-content{
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.tv-plus .module-content .unit-copy-wrapper .cta-link a{
	font-size: 17px;
	color: #FFF;
}
.tv-plus .module-content .unit-copy-wrapper .subhead{
	font-size: 21px;
}
.tv-plus .module-content .unit-copy-wrapper .cta-link a i{
	font-size: 17px;
}