.homepage-section{
	display: flex;
	width: 1520px;
	justify-content: center;
	margin-bottom: 12px;
}
.macbook-air{
	background-color: #000;
	padding-top: 44px;
	width: 100%;
	height: 636px;
	background-image: url('https://www.apple.com/v/home/q/images/heroes/macbook-air/macbook_air__knzp0i282eyy_large.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.module-content{
	margin-top:0px;
}
.unit-copy-wrapper{
	font-family: SF Pro Display,Arial, sans-serif;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 45px;
}
.headline{
	font-size: 56px;
	display: block;
	margin: 0px;
}
.subhead{
	margin-top:6px;
	margin-bottom: 0px;
	font-size: 28px;
	font-weight: 100;
	text-align: center;
}
.cta-link{
	font-family: SF Pro Display,Arial, sans-serif;
	margin-top: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.cta-link a{
	font-family: SF Pro Display,Arial, sans-serif;
	display: flex;
	font-size: 21px;
	color: rgb(41, 151, 255);
	text-decoration: none;
	padding-right: 15px;
	align-items: center;
}
.cta-link a:hover{
	text-decoration: underline;
}
.cta-link a i{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 21px;
}
.macbook-pro{
	width: 100%;
	height: 636px;
	background-image: url('https://www.apple.com/v/home/q/images/heroes/macbook-pro-13/macbook_pro_13__koscrc0x6wam_large.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.unit-copy-wrapper p{
	font-size: 21px;
	margin:0px;
	font-weight: 600;
}
.iPhone-12-Pro{
	width: 100%;
	height: 636px;
	background-image: url('https://www.apple.com/v/home/q/images/heroes/iphone-12-pro/iphone_12_pro__f7ri3g4x75m6_large.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.iPhone-12{
	width: 100%;
	height: 636px;
	background-image: url('https://www.apple.com/vn/home/images/heroes/iphone-12/iphone_12__ejhnn79bn1me_large.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.iPhone-12 .module-content .unit-copy-wrapper{
	font-family: SF Pro Display,Arial, sans-serif;
	color: #000;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 45px;
}
.apple-watch{
	background-color: #000;
	width: 100%;
	height: 636px;
	background-image: url('https://www.apple.com/vn/home/images/heroes/watch-series-6/hero__dvsxv8smkkgi_large.jpg');
	background-size: auto;
	background-position: bottom;
	background-repeat: no-repeat;
}
.apple-watch .module-content .unit-copy-wrapper .headline{
	background-image: url('https://www.apple.com/v/home/r/images/logos/watch-series-6/logo_hero__trsrpeu6koqy_large.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	font-size: 50px;
}
.visuallyhidden{
	visibility: hidden;
}